<html>
  <head>
    <title>Test Video Loading Demonstration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Video Loading Demonstration</h1>
    <audio id="audioControls" controls autoplay onplay="playpause()">
        <source src="{{ url_for('wav_load') }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <p id="demo"></p>
    <img id="bg" src="{{ url_for('video_load') }}">

    <script>
    function playpause() {
      document.getElementById('audioControls').controls = false;
      $.post("/start_loaded_videos",
      {
        action: "play"
      });
      document.getElementById("demo").innerHTML = "The video has started to play";
    }
    </script>
  </body>
</html>