<html>
  <head>
    <title>Test Synthesized Video Loading Demonstration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Synthesized Video Loading Demonstration</h1>
    <audio id="audioControls" controls {{ audioAutoPlay }} hidden onended="stop_play()">
        <source src="{{ url_for('wav_load') }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <p id="demo"></p>
    <img id="bg" src="{{ url_for('video_load') }}">

    <script>
    function stop_play() {
      document.getElementById("demo").innerHTML = "The video has ended";
      $.post("/stop_loaded_videos",
        { action: "stop" });
    }
    </script>
  </body>
</html>