<html>
  <head>
    <title>Test Synthesized Video Loading Demonstration</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Synthesized Video Loading Demonstration</h1>
    <audio id="audioControls" controls {{ audioAutoPlay }} hidden onended="stop_play('stop')">
        <source src="{{ url_for('wav_load') }}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
    <img id="bg" src="{{ url_for('video_load') }}">

    <p id="demo"></p>
    

    <p><a href="{{ url_for('index') }}" onclick="stop_play('reset')">Return</a></p>

    <script>
    function stop_play(action_str='stop') {
      document.getElementById("demo").innerHTML = "The video has ended";
      $.post("/stop_loaded_videos",
        { action: action_str });
    }
    </script>
  </body>
</html>